<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:border-radius="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"/>

<body>
<div style="padding:0px;"class="container-fluid d-flex ">
    <div th:replace="fragments/sidebar :: sidebar"/>
    <div class="container col">
        <div  class="row-vh d-flex flex-row justify-content-between p-3  bg-dark text-white ">
            <span><a style="text-decoration:none;" class="text-white" th:href="@{/community/home}">뒤로가기</a></span>
            <span >신고하기</span>
        </div>
        <div class="m-5 border-bottom border-dark" >

            <div class="ml-2 row-vh d-flex flex-row">
                <div class="bi bi-file-person fs-3"></div>
                <div>
                    <div th:text="${article.writer}"></div>
                    <span th:text="${article.nowDay}"></span>
                    <span th:text="${article.nowTime}"></span>
                </div>
            </div>

            <div class="mt-4 row-vh d-flex flex-row justify-content-between" >
               <span th:text="${article.title}"></span>
                <span id="fixBtn"><a style="text-decoration:none; color:black;" th:href="@{|/community/article/fix/${article.id}|}">수정하기</a></span>
            </div>
        </div>
        <div class="m-5" th:text="${article.content}"></div>

        <div class="m-5 border-top border-dark">
            댓글 목록
        </div>
        <form class="m-5 border-top border-dark">
            <textarea cols="100" rows="2" placeholder="댓글 작성하기"></textarea>
            <input type="submit" value="작성">
        </form>

    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    // 쿠키 가져오기 함수
    const getCookieValue = (key) => {
      let cookieKey = key + "=";
      let result = "";
      const cookieArr = document.cookie.split(";");

      for(let i = 0; i < cookieArr.length; i++) {
        if(cookieArr[i][0] === " ") {
          cookieArr[i] = cookieArr[i].substring(1);
        }

        if(cookieArr[i].indexOf(cookieKey) === 0) {
          result = cookieArr[i].slice(cookieKey.length, cookieArr[i].length);
          return result;
        }
      }
      return result;
    }


    let memberId=/*[[${memberForFix.id}]]*/ 'default';


    // 수정(memberName== 쿠기값 같은 경우)
    function hideBtn(name){
        if(name===memberId){
             document.getElementById("fixBtn").style.display = "";
        }
        else{
            document.getElementById("fixBtn").style.display = "none";
        }
    }
    hideBtn(getCookieValue('memberId'));


</script>
</body>
</html>
