<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:border-radius="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"/>

<body>
<div style="padding:0px;"class="container-fluid d-flex ">
    <div th:replace="fragments/sidebar :: sidebar"/>
    <div class="container">
        <form method="post" action="" th:object="${WriteForm}">
            <input type="text" placeholder="제목을 입력하세요" th:field="*{title}">
            <div>
                <textarea  cols="50" rows="10"  th:field="*{content}"></textarea>
            </div>
            <input type="submit" value="완료">
        </form>
    </div>
</div>
</body>