<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>타이머</title>
</head>
<body>
<form action="" method="post" th:object="${TimerForm}">
    <div >
        <span>총시간:</span>
        <span th:text="${member.totalTime}" id="memberTimer"></span>
        <input type="hidden" id="memberTimerInput" th:field="*{memberTime}">
    </div>
    <div>
        <span th:text="${subject.name}">과목이름</span>
        <span th:text="${subject.time}" id="subjectTimer">과목 시간</span>
        <input type="hidden" id="subjectTimerInput" th:field="*{subjectTime}">
    </div>

        <input type="submit">
</form>
</body>

<script th:inline ="javascript">

    let memberTimer=/*[[${member.totalTime}]]*/ 'default';

    let memberHour=parseInt(memberTimer.substring(0,2));
    let memberMinute=parseInt(memberTimer.substring(3,5));
    let memberSecond=parseInt(memberTimer.substring(6,8));

    let member = {
        hour: memberHour,
        minute: memberMinute,
        second: memberSecond
    }

    let subjectTimer=/*[[${subject.time}]]*/ 'default';
    let subjectHour=parseInt(subjectTimer.substring(0,2));
    let subjectMinute=parseInt(subjectTimer.substring(3,5));
    let subjectSecond=parseInt(subjectTimer.substring(6,8));

    let subject = {
      hour: subjectHour,
        minute: subjectMinute,
        second: subjectSecond
    }

    setInterval(function(){
        let memberTime=makeTimer(member);
        let subjectTime=makeTimer(subject);

        document.getElementById('memberTimer').innerText=memberTime;
        document.getElementById('subjectTimer').innerText=subjectTime;
        document.getElementById('memberTimerInput').value=memberTime;
        document.getElementById('subjectTimerInput').value=subjectTime;



    },1000)



    let makeTimer = function(obj){

        obj.second+=1;

        if(obj.second==60){
           obj.minute+=1;
            obj.second=0;
        }
        if(obj.minute==60){
            obj.hour+=1;
            obj.minute=0;
        }

        let Time=addToZero(String(obj.hour))+":"+addToZero(String(obj.minute))+":"+addToZero(String(obj.second));

        return Time;
    }

    let addToZero = function(time){
        if(time.length==1){
            time="0"+time;
        }
        return String(time);
    }

</script>
</html>