<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>타이머</title>
</head>
<body>
<div th:object="${member}">
    <span>총시간:</span>
    <span th:text="${member.totalTime}" id="memberTimer"></span>
</div>
<div th:object="${subject}">
    <span th:text="${subject.name}">과목이름</span>
    <span th:text="${subject.time}">과목 시간</span>
</div>
<form>
    <input type="submit">
</form>
</body>

<script th:inline ="javascript">
    var memberTime=/*[[${member.totalTime}]]*/ 'default';
    console.log(memberTime);
    setInterval(function(){

    },1000)

</script>
</html>