<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:border-radius="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"/>

<body>
<div style="padding:0px;"class="container-fluid d-flex ">
<div th:replace="fragments/sidebar :: sidebar"/>

    <div  class="container  d-flex flex-column justify-content-center align-items-center">

        <div class=" h5 m-3">총 공부 시간</div>
        <div class=" h2 m-2">
            <span th:text="${memberTotalTime}"></span>
        </div>
        <div>
            <table style="border-spacing:20px; border-collapse: separate;">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr  th:each="subject : ${subjects}" th:id="${subject.id}">
                            <td><button style="border-radius:75px;"class="alert-primary bi bi-play" id="create" ></button></td>
                            <td th:text="${subject.name}"></td>
                            <td th:text="${subject.time}"></td>
                            <td><button style="border-radius:75px; "class="alert-danger bi bi-x" id="delete"  ></button></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a href="subject/add">과목 추가하기</a>
        </div>
    </div>
</div>
    <script type="text/javascript" th:inline="javascript">


    /*[# th:each="subject : ${subjects}"]*/
       var id=/*[[${subject.id}]]*/;
       goTimer(id);
       deleteSubject(id);
    /*[/]*/

    function goTimer(id){
        var startBtn=document.getElementById(id).children[0].children[0];
        startBtn.addEventListener('click',function(){
            linkToTimer(id);
        });
    }



    function deleteSubject(id){
        var deleteBtn=document.getElementById(id).children[3].children[0];
        deleteBtn.addEventListener('click',function(){
            sendData(id);
        });
    }

<!----> get로 deleteSubject 구현
    function sendData(id) {
        var subject=id;
        var url="/deleteSubject/"+subject;
        window.location=url;
    }




<!----> 타이머 화면으로 이동
    function linkToTimer(id){
    var subjectId=id;
    var url="subject/timer/"+subjectId;
    window.location=url;
    }




 </script>

</body>
</html>