<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
<form action="" method="post" th:object="${loginForm}">
    <div>
        <label th:for="id">ID:</label>
        <input type="text" th:field="*{id}">
    </div>
    <div>
        <label th:for="password">Password:</label>
        <input type="password" th:field="*{password}">
    </div>
    <div>
        <div><a href="signUp"> 회원가입</a></div>
    </div>
    <div>
        <input type="submit">
    </div>

</form>
</body>
</html>