<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>

<body>
<div style="padding:0px;"class="container-fluid d-flex ">
<div th:replace="fragments/sidebar :: sidebar"/>

    <div  class="container  d-flex flex-column justify-content-center align-items-center">

        <div class=" h5 m-3">총 공부 시간</div>
        <div class=" h2 m-2">
            <span th:text="${memberTotalTime}"></span>
        </div>
        <div>
            <table style="border-spacing:20px; border-collapse: separate;">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr  th:each="subject : ${subjects}">
                        <td><button style="border-radius:75px; "class="alert-secondary bi bi-play" th:id="${subject.id}"></button></td>
                        <td th:text="${subject.name}"></td>
                        <td th:text="${subject.time}"></td>


                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a href="subject/add">과목 추가하기</a>
        </div>
    </div>
</div>
    <script type="text/javascript" th:inline="javascript">


    /*[# th:each="subject : ${subjects}"]*/
       var id=/*[[${subject.id}]]*/;
       goTimer(id);
    /*[/]*/

    function goTimer(id){
    var btn=document.getElementById(id);
    btn.addEventListener('click',linkToTimer);
    }

    function linkToTimer(e){
    var subjectId=e.target.id;
    var url="subject/timer/"+subjectId;
    window.location=url;

    }




 </script>

</body>
</html>