<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>환영합니다.</title>
</head>
<body>
    <div>반갑습니다.
        <span th:text="${memberId}"></span>님!
    </div>

    <div>
        <a href="subject/add">과목 추가하기</a>
    </div>
    <div>옵션</div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>과목</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="subject : ${subjects}">
                    <td><button></button></td>
                    <td th:text="${subject.name}"></td>
                    <td th:text="${subject.time}"></td>


                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>