<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="d-flex flex-column justify-content-center align-items-center container"  style="text-align:center">
    <div class="" th:replace="fragments/bodyHeaderBeforeLogin :: bodyHeaderBeforeLogin"/>
    <form class=" m-5" action="" method="post" th:object="${memberForm}">
        <div class=" m-4">
            <label th:for="id">*ID:</label>
            <input type="text" th:field="*{id}">
        </div>
        <div class=" m-4">
            <label th:for="password">*Password:</label>
            <input type="password" th:field="*{password}">
        </div>
        <div class=" m-4">
            <label th:for="name">*NAME:</label>
            <input type="text" th:field="*{name}">
        </div>
        <div class=" m-4">
            <label th:for="email">Email:</label>
            <input type="email" th:field="*{email}">
        </div>
        <div>
            *은 필수값입니다.
        </div>
        <div>
            <input type="submit" value="회원가입">
        </div>

    </form>
</div>
</body>
</html>