<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container d-flex flex-column justify-content-center align-items-center " >
    <div th:replace="fragments/bodyHeaderBeforeLogin :: bodyHeaderBeforeLogin"/>
    <div>
        <img src="img/studyImg.png"  >
    </div>
    <br>
    <a href="login"><h1 class="text-secondary"  >로그인</h1></a>
    <br><br>
    <a href="signUp"><h1 class="text-secondary">회원가입</h1></a>
</div>
</body>
</html>